<div id="<%= dom_id account %>">
  <p>
    <strong>Account nick name:</strong>
    <%= account.account_nick_name %>
  </p>
  <p>
    <strong>Balance:</strong>
    <%= account.balance %>
  </p>
  <p>
    <strong>Bank:</strong>
    <%= account.bank.bank_name %>
  </p>
  <p>
    <strong>User:</strong>
    <%= current_user.fullname %>
  </p>
</div>
